.graphs {
    width: 100%;
    min-height: 350px;
    border: 1px solid #888;
    margin-top: 1em;
}

.graph-data-source {
    text-align:right;
    font-size: 0.8em;
    padding-bottom: 0.5em;
    color: #555;
}
