section{
    padding: 1em;
    @media (min-width: $main-width){
        padding: 2em 4em;
    }

    p {
        font-family: serif;
        text-indent: 1em each-line;
        line-height: 1.8em;
        text-align: justify;
        letter-spacing: 0.023em;
        font-feature-settings: "palt";
        margin: 1em 0;
    }

    .article-meta{
        font-family: serif;
        padding-top: 1em;
        .title {
            font-size: 1.2em;
            margin-bottom: 2em;
            line-height: 1em;
        }
        .chapter{
            font-size: 0.75em;
            margin-bottom: 0.5em;
        }
    }

    main {
        margin-bottom: 3em;
    }

    h2 {
        font-size: 1.3em;
        padding-top: 1.5em;
    }

    code {
        background: #DDD;
        padding: 0.1em 0.2em;
    }

    blockquote {
        margin: 0.5em 0;
        padding: 0 1.5em;
        border-left: 4px solid $quote-color;
        font-style: italic;
        p {
            text-indent: unset;
        }
        cite {
            display: block;
            text-align: right;
            font-size: 0.85em;
        }
    }

    .keyphrase {
        font-family: san-serif;
        background: #EED;
    }

}

.hide {
    display: none;
}
