$back-color: #88888D;
$body-color: white;
$sidebar-width: 320px;
$main-width: 830px;
$limit-overwrap-width: 2 * $sidebar-width + $main-width;
$max-width: 1920px;
$font-color: #333;
$quote-color: #d6dde3;
$link-color: rgb(0, 0, 128);
$sidebar-color: #EEEEF3DD;
$menu-botton-color: #BBD;
$menu-on-page-border: #CCD;
