<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}</title>
    {{ $style := resources.Get "scss/mystyle_single.scss" | resources.ToCSS }}
    <style>{{ $style.Content | safeCSS }} </style>
  </head>

  <body>
<div class="body-container">
  {{ partial "sidebar.html" . }}

  <div class="body-scrollable">
    <section class="body">
      <div class="article-meta">
        <h1>
          <div class="chapter">第{{ .Params.chapter }}章</div>
          <div class="title">{{ .Title | markdownify }}</div>
        </h1>
      </div>
      <main>
        {{ .Content }}
      </main>
      {{ partial "nav-next.html" .}}
    </section>
  </div>
</div>

{{ $js := resources.Get "js/main-single.js" | js.Build }}
<script>
{{ $js.Content | safeJS }}
</script>

  </body>
</html>


