<div class="sidebar-position">
  <div class="overlay"></div>
  <nav class="sidebar">
    <div class="sidebar-content">
      <div class="title">我儘考</div>
      <hr />
      <ul class="menu">
        {{ $currentContent := . }}
        {{ $pagesInCurrentDir := .Page.Parent.Pages.ByParam "chapter" }}

        {{ range $pagesInCurrentDir }}
        {{ if eq $currentContent . }}
        <li class="current"><a href="{{ .RelPermalink }}">
          第{{ .Params.chapter }}章 {{ .Title }}
        </a></li>
        <div class="menu-on-this-page">
          {{ .TableOfContents }}
        </div>
        {{ else }}
        <li><a href="{{ .RelPermalink }}">
            第{{ .Params.chapter }}章 {{ .Title }}</a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
      <div class="sidebar-footer">
        <div class="recommendation-message">
          ※このサイトは<a href="https://www.mozilla.org/en-US/firefox/browsers/">Firefox</a>での閲覧を推奨します
        </div>
        <div class="license"><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.</div>
      </div>
    </div>
    <div class="toggle-menu">
      {{ partial "hamburger.html" . }}
    </div>
  </nav>
</div>
