/*
@font-face {
	font-family: 'mincho';
	src: url(./fonts/NotoSerifJP-Regular.otf);
}
@font-face {
	font-family: 'gothic';
	src: url(./fonts/NotoSansJP-Thin.otf);
}
@font-face {
	font-family: 'klee';
	src: url(./fonts/KleeOne-Regular.ttf);
}
*/

body {
    /*font-family: gothic; */
    font-family: sans-serif;
    line-height: 1.8em;
    font-size: medium;
}

p, li {
    /* font-family: mincho; */
    font-family: serif;
}

em {
    font-weight: 700;
}

strong {
    font-weight: 900;
}
