@import './base-min';
@import './variables';
@import './basic';
@import './tooltip';
@import './graph';
@import './figure';
@import './font';
@import './top-page';
@import '../../node_modules/tippy.js/dist/tippy';
@import '../../node_modules/tippy.js/themes/light-border';
@import './lightbox';

body{
    background: #888;
}
.section{
    text-align: justify;
}

@media (min-width: 830px){
    .content{
        width: 780px;
        margin: auto;
    }
}
