{{ .Scratch.Add "figure-count" 1 }}
{{ $path := (.Get "src") }}
{{ $image := resources.Get (printf "%s/%s_%s%s" (path.Dir $path)
                                               (path.BaseName $path)
                                               (.Site.LanguageCode)
                                               (path.Ext $path)) }}
{{ if (not $image) }}
  {{ $image = resources.Get $path }}
{{ end }}

{{ $resizeOption := (.Get "size") }}
{{ if (not $resizeOption)}}
  {{ $resizeOption = "resize x200" }}
{{ end }}

{{ $options := (dict "targetPath" "/public/a.jpg") }}
{{ $resized := $image.Process $resizeOption }}
{{ $no := .Scratch.Get "figure-count" }}
<figure class="figure figure-{{(.Get "place")}}">
  {{ with $image }}
    <a href="{{ .RelPermalink }}" data-lightbox data-gallery="gallery{{ $no }}">
      <img src="data:{{ $resized.MediaType.Type }};base64,{{ $resized.Content | base64Encode }}" />
    </a>
  {{ end }}
  <figcaption>{{(.Get "caption")}}</figcaption>
</figure>
